* {box-sizing: border-box;}

.topnav {
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}

.topnav a {
  float: left;
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: pink;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #BEEDF0;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: pink;
}

h1 {
  font-family: 'Donegal One';
  font-size: 30px;
}

.p3{ 
font-family:"Times New Roman", Times; 
font-size: 22px; 
font-style: normal; 
font-variant: normal;
font-weight: lighter; 
}

.grid-column-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr 4fr 4fr 4fr 4fr 1fr;
  height: 100vh;
  grid-gap: 20px;
}


header {
  background-color: #1D5589;
  font-size: 12px;
  grid-row: 1/2;
  grid-column: 1/3;
  align-items: center;
  
}

.title {
  font-size: 12px;
  grid-row: 2/3;
  grid-column: 1/3;
  display: flex;    
  justify-content: left;
  align-items: center;
}

.box1 {
  grid-row: 3/4;
  grid-column: 2/3;
}

.img1 {
  background-image: url(../img/Xiao.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    grid-row: 3/4;
    grid-column: 1/2;
}

.box2 {
  grid-row: 4/5;
  grid-column: 2/3;
}

.img2 {
  background-image: url(../img/Ye.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    grid-row: 4/5;
    grid-column: 1/2;
}

.box3 {
  grid-row: 5/6;
  grid-column: 2/3;
}

.img3 {
  background-image: url(../img/Zhuang.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    grid-row: 5/6;
    grid-column: 1/2;
}

.box4 {
  grid-row: 6/7;
  grid-column: 2/3;
}

.img4 {
  background-image: url(../img/unknown.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    grid-row: 6/7;
    grid-column: 1/2;
}

footer {
  background-color: #1D5589;
  font-size: 30px;
  grid-row: 7/8;
  grid-column: 1/3;
  display: flex;    
  justify-content: center;
  align-items: center;
  color: white;
  
}


@media only screen and (min-width: 600px) {
.grid-column-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 2fr 1fr;
    height: 100vh;
    grid-gap: 20px;
  }

header {
    background-color: #1D5589;
    font-size: 12px;
    grid-row: 1/2;
    grid-column: 1/5;
    align-items: center;
    
  }


.title {
    font-size: 12px;
    grid-row: 2/3;
    grid-column: 1/5;
    display: flex;    
    justify-content: left;
    align-items: center;
  }

.img1 {
  background-image: url(../img/Xiao.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    grid-row: 3/4;
    grid-column: 1/2;
}

.img2 {
  background-image: url(../img/Ye.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    grid-row: 3/4;
    grid-column: 3/4;
}

.img3 {
  background-image: url(../img/Zhuang.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    grid-row: 4/5;
    grid-column: 1/2;
}

.img4 {
  background-image: url(../img/unknown.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    grid-row: 4/5;
    grid-column: 3/4;
}

.box1 {
  grid-row: 3/4;
  grid-column: 2/3;
}

.box2 {
  grid-row: 3/4;
  grid-column: 4/5;
}

.box3 {
  grid-row: 4/5;
  grid-column: 2/3;
}

.box4 {
  grid-row: 4/5;
  grid-column: 4/5;
}

footer {
  background-color: #1D5589;
  font-size: 30px;
  grid-row: 5/6;
  grid-column: 1/5;
  display: flex;    
  justify-content: center;
  align-items: center;
  color: white;
  
}
}