.grid-column-layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 1fr 4fr 3fr 1.5fr;
    height: 100vh;
    grid-gap: 20px;
  }


  header {
    background-color: #1D5589;
    font-size: 12px;
    grid-row: 1/2;
    grid-column: 1/3;
    display: flex;    
    justify-content: left;
    align-items: center;
    
  }

.title {
    background-color: rgb(116, 178, 141);
    font-size: 12px;
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;    
    justify-content: left;
    align-items: center;
  }

  
  .hire {
    background-color: #D2F2FF;
    font-size: 30px;
    grid-row:2/5;
    grid-column: 2/3;
    display: flex;    
    justify-content: left;
    align-items: center;
    color:white
  }
  
.box1 {
    padding-top: 0%;
    padding-left: 1%;
    font-size: 12px;
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;    
  }

.box2 {
    padding-left: 1%;
    grid-row: 4/5;
    grid-column: 1/2;
    display: flex;  
    justify-content: left;  
  
  }


footer {
    background-color: #1D5589;
    font-size: 30px;
    grid-row: 5/6;
    grid-column: 1/3;
    display: flex;    
    justify-content: center;
    align-items: center;
    color: white;
    
  }

.text{display: flex;
  justify-content: left;
        padding-left: 1%;}

h1{font-family: 'Donegal One';
  font-size: 30px;}



h2{font-family: 'Bad Script';
  font-style: italic;
}
p3{ font-family: "Times New Roman", Times;
  font-style: normal;
  font-size: 22px;}

