* {box-sizing: border-box;}


.topnav {
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}

.topnav a {
  float: left;
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #2196F3;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: left;
}



.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #BEEDF0;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background:#2196F3;
}


.grid-column-layout {
    display: grid;
    grid-template-rows: 2fr 2fr 4fr 3fr 1fr;
    height: 100vh;
    grid-gap: 20px;
  }


  header {
    background-color: #1D5589;
    font-size: 12px;
    grid-row: 1/2;

    align-items: center;
    
  }

.title {
    font-size: 12px;
    grid-row: 2/3;
    display: flex;    
    justify-content: left;
    align-items: center;
  }

  

  
.box1 {
    background-color: #FFF7D9;
    padding-top: 0%;
    padding-left: 1%;
    grid-row: 3/4; 
  }

.box2 {
    background-color: #FFF7D9;
    padding-left: 1%;
    grid-row: 4/5;
    justify-content: left; 
  }

  .location {
    font-size: 30px;
    grid-row:5/6;
    display: flex;    
    justify-content: center;
    align-items: center;
    color:black;
;
  }


footer {
    background-color: #1D5589;
    font-size: 30px;
    grid-row: 6/7;
    display: flex;    
    justify-content: center;
    align-items: center;
    color: white;
    
  }



h1{font-family: 'Donegal One';
font-size: 30px}



h2{font-family: 'Roboto', sans-serif;
  font-family: 'Silkscreen', cursive;
  color:black;
  font-size:25px;
}

.p3{ font-family:"Times New Roman", Times; 
  font-style: normal; 
  font-variant: normal;
  font-weight: lighter; 
  font-size: 18px; }

  form {
    width: 85%;
    margin: 10px auto;
    margin-bottom: 90px;
    padding: 10px 20px;
    background: #FFF7D9;
    border-radius: 8px;
    border: 1px solid grey;
  }
  
  
  input[type="text"],
  input[type="email"],
  textarea {
    background: rgba(255, 255, 255, 0.808);
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #f5f5f5;
    color: black;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
    caret-color: black;
    transition: all 200ms;
    border: 1px solid black;
  }
  

  input:focus,
  textarea:focus {
    box-shadow: 0 0 0 2px #3186d695;
  }
  
  label:required {
    color: yellow;
  }
  
  
  button {
    padding: 19px 39px 18px 39px;
    color: black;
    background: #9DB9FF;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin-bottom: 10px;
    transition: 1s;
  }
  
  button:hover,
  button:focus {
    background: #D2F2FF;
  }
  
  fieldset {
    margin-bottom: 30px;
    border: none;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }










@media only screen and (min-width: 600px) {
  .topnav .search-container {
    float: right;
  }
  
  .grid-column-layout {
  display: grid;
  grid-template-columns: 1.5fr 0.1fr 1fr;
  grid-template-rows: 0.8fr 1fr 2fr 1.5fr 1.5fr;
  height: 100vh;
  grid-gap: 20px;
}


header {
  background-color: #1D5589;
  font-size: 12px;
  grid-row: 1/2;
  grid-column: 1/4;

  align-items: center;
  
}

.title {
  font-size: 12px;
  grid-row: 2/3;
  grid-column: 1/4;
  display: flex;    
  justify-content: left;
  align-items: center;
}


.location {
  font-size: 30px;
  grid-row:3/5;
  grid-column: 3/4;
  display: flex;    
  justify-content: center;
  align-items: center;
  color:black
}

.box1 {
  background-color: #FFF7D9;
  padding-top: 0%;
  padding-left: 1%;
  font-size: 12px;
  grid-row: 3/4;
  grid-column: 1/2;   
}

.box2 {
  background-color: #FFF7D9;
  padding-left: 1%;
  grid-row: 4/5;
  grid-column: 1/2;
  justify-content: left;  

}


footer {
  background-color: #1D5589;
  font-size: 30px;
  grid-row: 5/6;
  grid-column: 1/4;
  display: flex;    
  justify-content: center;
  align-items: center;
  color: white;
  
}




}
