
* {box-sizing: border-box;}



.topnav {
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}

.topnav a {
  float: left;
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #2196F3;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: left;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #BEEDF0;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #2196F3;
}

.grid-column-layout {
  display: grid;
  grid-template-columns:4fr 1fr;
  grid-template-rows: 2fr 1fr 5fr 3fr 1fr;
  height: 100vh;
}


header {
  background-color: #1D5589;
  font-size: 12px;
  grid-row: 1/2;
  grid-column: 1/3;
  align-items: center;
  
}

.title {
  padding: 10px;
  font-size: 12px;
  grid-row: 2/3;
  grid-column: 1/3;
  display: flex;    
  justify-content: left;
  align-items: center;
}


.hire { 
  padding: 10px;
  background-color: #FFF7D9;
  font-size: 30px;
  grid-row:3/4;
  grid-column: 2/3;
  display: flex;    
  justify-content: left;
  align-items: center;
  color:white;
}

.box1 {
  padding: 10px;
  padding-top: 0%;
  padding-left: 1%;
  grid-row: 3/4;
  grid-column: 1/2;   
}

.box2 {
  padding: 10px;
  padding-left: 1%;
  grid-row: 4/5;
  grid-column: 1/3;
  justify-content: left;  

}


footer {
  padding: 10px;
  background-color: #1D5589;
  font-size: 30px;
  grid-row: 5/6;
  grid-column: 1/3;
  display: flex;    
  justify-content: center;
  align-items: center;
  color: white;
  
}

.text{display: flex;
justify-content: left;
      padding-left: 1%;}

h1{font-family: 'Donegal One';
font-size: 30px}



h2{font-family: 'Roboto', sans-serif;
  font-family: 'Silkscreen', cursive;
  color:black;
}

.p3{ font-family:"Times New Roman", Times; font-size: 22px; font-style: normal; font-weight: lighter; }


@media only screen and (min-width: 600px) {
  .topnav .search-container {
    float: right;
  }

  .grid-column-layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 1fr 4fr 3fr 1.5fr;
    height: 100vh;
  }


  header {
    background-color: #1D5589;
    font-size: 12px;
    grid-row: 1/2;
    grid-column: 1/3;
    align-items: center;
    
  }

.title {
    font-size: 12px;
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;    
    justify-content: left;
    align-items: center;
  }

  
  .hire {
    background-color: #D2F2FF;
    font-size: 30px;
    grid-row:2/5;
    grid-column: 2/3;
    display: flex;    
    justify-content: left;
    align-items: center;
    color:white;
  }
  
.box1 {
    padding-top: 0%;
    padding-left: 1%;
    grid-row: 3/4;
    grid-column: 1/2;   
  }

.box2 {
    padding-left: 1%;
    grid-row: 4/5;
    grid-column: 1/2;
    justify-content: left;  
  
  }


footer {
    background-color: #1D5589;
    font-size: 30px;
    grid-row: 5/6;
    grid-column: 1/3;
    display: flex;    
    justify-content: center;
    align-items: center;
    color: white;
    
  }


}
