.grid-column-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr 4fr 4fr 4fr 1fr;
  height: 100vh;
  grid-gap: 20px;
}


header {
  background-color: #1D5589;
  font-size: 12px;
  grid-row: 1/2;
  grid-column: 1/3;
  align-items: center;
}

.title {
  grid-row: 2/3;
  grid-column: 1/3;
}

.pic1 {
  background-image: url(../img/violin.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 10px;
  font-size: 12px;
  grid-row: 3/4;
  grid-column: 1/2;
  align-items: center;
}

.text1 {
  grid-row: 3/4;
  grid-column: 2/3;
}


.pic2 {
  background-image: url(../img/calculus.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 12px;
  grid-row: 4/5;
  grid-column: 1/2;
  align-items: center;
}

.text2 {

  font-size: 12px;
  grid-row: 4/5;
  grid-column: 2/3;
  align-items: center;
}

.pic3 {
  background-image: url(../img/python.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 12px;
  grid-row: 5/6;
  grid-column: 1/2;
  align-items: center;
}

.text3 {
  margin-right: 10px;

  font-size: 12px;
  grid-row: 5/6;
  grid-column: 2/3;
  align-items: center;
}

footer {
  background-color: #1D5589;
  font-size: 30px;
  grid-row: 6/7;
  grid-column: 1/3;
  display: flex;    
  justify-content: center;
  align-items: center;
  color: white;
  
}



* {box-sizing: border-box;}


.topnav {
overflow: hidden;
margin-top: 20px;
margin-bottom: 20px;
}

.topnav a {
float: left;
display: flex;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #2196F3;
color: black;
}

.topnav a.active {
background-color: #2196F3;
color: white;
}

.topnav .search-container {
float: left;
}

.topnav input[type=text] {
padding: 6px;
margin-top: 8px;
font-size: 17px;
border: none;
}

.topnav .search-container button {
float: right;
padding: 6px;
margin-top: 8px;
margin-right: 16px;
background: #BEEDF0;
font-size: 17px;
border: none;
cursor: pointer;
}

.topnav .search-container button:hover {
background: #2196F3;
}



h1{font-family: 'Donegal One';
  font-size: 30px}

h4{font-family: 'Donegal One';
  font-size: 25px}

h2{font-family: 'Dancing Script', cursive;
  font-size: 25px}

h3{
  font-size:15px
}

.p3{ font-family:"Times New Roman", Times; font-size: 22px; font-style: normal; font-variant: normal;font-weight: lighter; }


@media only screen and (min-width: 600px) {

  .topnav .search-container {
    float: right;
    }

  .grid-column-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 7fr 1.5fr;
    height: 100vh;
    grid-gap: 20px;
}


header {
  background-color: #1D5589;
  font-size: 12px;
  grid-row: 1/2;
  grid-column: 1/7;
  align-items: center;
}

.title {
  grid-row: 2/3;
  grid-column: 1/7;
}

.pic1 {
  background-image: url(../img/violin.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 10px;
  font-size: 12px;
  grid-row: 3/4;
  grid-column: 1/2;
  align-items: center;
}

.text1 {
  grid-row: 3/4;
  grid-column: 2/3;
}


.pic2 {
  background-image: url(../img/calculus.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 12px;
  grid-row: 3/4;
  grid-column: 3/4;
  align-items: center;
}

.text2 {

  font-size: 12px;
  grid-row: 3/4;
  grid-column: 4/5;
  align-items: center;
}

.pic3 {
  background-image: url(../img/python.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 12px;
  grid-row: 3/4;
  grid-column: 5/6;
  align-items: center;
}

.text3 {
  margin-right: 10px;

  font-size: 12px;
  grid-row: 3/4;
  grid-column: 6/7;
  align-items: center;
}

footer {
  background-color: #1D5589;
  font-size: 30px;
  grid-row: 4/5;
  grid-column: 1/7;
  display: flex;    
  justify-content: center;
  align-items: center;
  color: white;
  
}



}